{% extends 'base.html' %}

{% block content %}
    <h2>Boletim - Ano Letivo: {{ ano_letivo }}</h2>
    <table>
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Média Final</th>
            </tr>
        </thead>
        <tbody>
            {% for disciplina in boletim %}
                <tr>
                    <td>{{ disciplina.disciplina }}</td>
                    <td>{{ disciplina.media_disciplina }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{{ url_for('boletim') }}">Voltar</a></p>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endblock %}
